@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

#process{
	width:1100px;
	height:165px;
	float:left;
	background-color:#f9f9f9;	
	padding-top:25px;	
}

#p1{
	width:33%;
	height:100px;
	float:left;
	padding-top:50px;	
}

#sel01{
	width:500px;
	margin-bottom:20px;
}

#sel022{
	width:500px;
	padding-bottom:20px;
	margin:auto;
}

#content{
	width:100%;
	float:left;
}

.textactive{
	color:#1a1f3e;
	text-align:center;
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 600;
	font-size:18px; 
	margin-top:12px;
}

.textoff{
	color:#cfcfcf;
	text-align:center;
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 300;
	font-size:18px; 
	margin-top:12px;	
}


#lineactive{
	width:100%;
	height:1px;
	background-color:#19203f;	
}

#lineoff{
	width:100%;
	height:1px;
	background-color:#cfcfcf;
}


#p2{
	width:33%;
	height:100px;
	float:left;
	padding-top:50px;
}


#p3{
	width:33%;
	height:100px;
	float:left;

	padding-top:50px;
	
	
}
#p4{
	width:25%;
	height:100px;
	float:left;

	padding-top:50px;
	
	
}



/* Variable definitions blogger template */


#sel02{
	width:400px;
	margin-bottom:20px;

	
}
#sel002{
	width:500px;
	margin-bottom:20px;

	float:left;

	
}
#sel03{
	width:400px;
	margin-bottom:0px;
	
}


#containerheader{

	width:1100px;
	height:50px;
	margin:auto;
	margin-top:20px;

	
	
}

#menu{

	width:600px;
	height:30px;
	float:left;
	
}

#login{

	width:300px;
	height:30px;
	float:right;
}
#logo{

	width:200px;
	height:50px;
	float:left;
	
}

/* alinhamento do menu */







#espaco01c{
	background-color:#F9F9F9;
	float:left;
	height:250px;
	width:100%;
	padding-top:130px;
	
	
}

#title01c{
	background-color:#F9F9F9;
	width:1100px;
	height:90px;
	margin:auto;
	text-align:center;
	width:100%;
	font-size:23px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.5; 
	font-style:bold; 
	font-weight: 300
	
}




#imgmaritmo{
	width:912px;
	height:100px;
	position:absolute;

	float:right;
	margin-top:550px;
}
#imgaereo{
	width:912px;
	height:100px;
	position:absolute;

	float:right;
	margin-top:545px;
}
#imgrodovia{
	width:912px;
	height:100px;
	position:absolute;

	float:right;
	margin-top:560px;
}


#container{
	width:1100px;

	margin:auto;
	
}

#traject{
	width:100%;
	height:80px;

	float:left;
	
}


#banner{
	width:1100px;
	height:320px;
	float:left;
	background-image:('../img/background.png')
	

}

#titlebann{

	width:100%;
	font-size:30px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 400;
	text-align:left;
	color:white;
	
	
	
}
#subtitlebann{

	margin-top:10px;
	width:100%;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	text-align:left;
	color:white;
	
	
	
}
#imgbanner{
	width:100%;
	margin:auto;
	height:330px;
	background-color:yellow;
	background: #fff url("../img/background.png");
	background-size:100%;
	background-repeat:no-repeat;
	float:left;
	padding:80px;
	
}

.banner2{
	margin:auto;
	width:100%;
	background-color:red;
	float:left;
	
}

.banner{
	margin-top:50px;
	width:880px;
	margin:auto;
	padding-bottom:50px;
}

#container{
	width:700px;

	margin:auto;
}

#process1{

}
#process2{
	margin:auto;
}

#alignicon{

	width:80%;
	height:100px;
	margin:auto;
	
}




#process1{

	width:1100px;
}
#process3{
	margin:auto;
	width:100%;
}
#process4{

	width:100%;
}
#process5{
	background-color:white;

	float:left;
	width:100%;
}
#process6{
	background-color:white;
	height:500px;
	float:left;
	width:100%;
}

#boxesn{
	width:100%;
	float:left;
	
	
}


#p5{
	width:20%;
	height:100px;
	float:left;

	padding-top:50px;
	
	
}

#circleactive{
	background-color:#19203f;
	width:36px;
	height:36px;
	margin-top:-20px;
	border-radius: 30px;
	margin-left:130px;

	color:white; 	
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 300;
	font-size:20px; 
	text-align:center;
	padding-top:-10px;

	
	
}

#circleoff{
	background-color:#f9f9f9;
	width:36px;
	height:36px;
	margin-top:-20px;
	border-radius: 30px;
	margin-left:130px;
	border:1px solid #cfcfcf;
	color:#cfcfcf; 	
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.7;
	font-weight: 300;
	font-size:20px; 
	text-align:center;
	padding-top:-10px;

	
	
}


#container2{
	width:880px;
	padding-top:50px;

	margin:auto;




}
#container002{
	width:880px;
	padding-top:50px;
	background-color:WHITE;
	margin:auto;




}

#title1{
	background-color:WHITE;
	width:100%;
	margin-bottom:-20px;
	float:left;
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	font-size:26px;

	
}
#title8{
	background-color:WHITE;
	width:100%;
	margin-bottom:-20px;
	float:left;
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	font-size:26px;
	margin-top:40px;
	
}


.divid000{
	background-color:#cfcfcf;
	width:700px;
	height:1px;
	float:left;
	
	margin-top:10px;
	margin-bottom:50px;
	
}
.divid{
	background-color:#cfcfcf;
	width:700px;
	height:1px;
	margin:auto;
	
	margin-top:35px;
	margin-bottom:80px;
	
}
.divid88{
	background-color:#cfcfcf;
	width:880px;
	height:1px;
	margin:auto;	
	margin-top:40px;
	margin-bottom:55px;
	
}
.divid89{
	background-color:#cfcfcf;
	width:100%;
	height:1px;
	float:left;
	
	margin-top:30px;
	margin-bottom:30px;
	
}


.divid8{
	background-color:#cfcfcf;
	width:100%;
	height:1px;
	float:left;
	
	margin-top:50px;
	margin-bottom:50px;
	
	}.divid9{
		background-color:#cfcfcf;
		width:100%;
		height:1px;
		float:left;

		margin-top:50px;
		margin-bottom:50px;

	}
	.divid4{
		background-color:#cfcfcf;
		width:100%;
		height:1px;
		float:left;


		margin-bottom:50px;

	}
	.divid5{
		background-color:#cfcfcf;
		width:100%;
		height:1px;
		float:left;

		margin-top:50px;
		margin-bottom:50px;

	}


	.checkbox{

		background-color:WHITE;
		width:100%;

		float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		
	}
	.checkbox6{

		background-color:WHITE;
		width:49%;
		padding-bottom:40px;
		float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;

	}
	.resumo{

		background-color:WHITE;
		width:49%;
		padding-bottom:40px;
		float:left;


	}



	.checkbox4{
		padding-top:8px;
		padding-left:3px;	
		padding-right:3px;
		background-color:WHITE;
		width:49%;
		padding-bottom:40px;
		float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;

	}
	#alignform{


		margin:auto;

		width:60%;




	}

	.formulariobox{
		padding-top:8px;
		padding-left:3px;	
		padding-right:3px;

		width:100%;
		padding-bottom:40px;
		float:left;


	}
	.checkbox5{
		padding-top:8px;
		padding-left:3px;	
		padding-right:3px;
		padding-bottom:40px;
		background-color:WHITE;
		width:49%;
		margin-left:2%;
		float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		
	}
	.boxdestino{

		padding:15px;
		background-color:WHITE;
		width:100%;

		float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		
	}
	#line001{


		background-color:WHITE;
		width:100%;

		float:left;

		
	}
	.informacoesgerais{
		padding-top:8px;
		padding-left:3px;	
		padding-right:3px;
		padding-bottom:40px;
		background-color:WHITE;
		width:49%;
		margin-left:2%;
		float:left;

		
	}

	#voltar{

		width:216px;
		height:60px;
		float:left;

	}
	#checkconcordar{

		width:420px;
		height:60px;
		float:left;

	}
	#checkconcordar1{

		width:444px;
		height:60px;
		float:left;

	}


	#continuar{

		width:220px;
		height:60px;
		float:left;

	}

	#alignconcordar{

		width:300px;
		float:right;
		margin-top:10px;	
		font-size:16px; 
		font-family: 'Open Sans', sans-serif;  
		line-height: 2.2;
		font-weight: 300;
		color:#666;

	}
	#alignnaosabe{
		padding-left:30px;
		padding-right:10px;
		width:100%;
		float:right;
		margin-top:1px;	
		font-size:18px; 
		font-family: 'Open Sans', sans-serif;  
		line-height: 2.2;
		font-weight: 300;
		color:black;


	}
	#alignnaoincluir{
		padding-left:20px;
		padding-right:10px;
		width:100%;
		float:right;
		margin-top:1px;	
		font-size:18px; 
		font-family: 'Open Sans', sans-serif;  
		line-height: 2.2;
		font-weight: 300;
		color:black;


	}
	#alignnaosabe img{

		float:right;
		margin-top:4px;	



	}

	#message{
		border-radius: 5px;
		width:300px;
		height:150px;
		-webkit-box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
		-moz-box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
		box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
		position:absolute;
		margin-top:330px;
		margin-left:565px;
		padding:20px;
		font-weight: 300;
		font-size:16px; 
		font-family: 'Open Sans', sans-serif; 
		line-height: 1.8;
		display:none;
	}
	#message1{
		border-radius: 5px;
		width:300px;
		height:150px;
		-webkit-box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
		-moz-box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
		box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
		position:absolute;
		margin-top:330px;
		margin-left:565px;
		padding:20px;
		font-weight: 300;
		font-size:16px; 
		font-family: 'Open Sans', sans-serif; 
		line-height: 1.8;
		display:none;
		}#message02{
			border-radius: 5px;
			width:300px;
			height:150px;
			-webkit-box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
			-moz-box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
			box-shadow: 1px 1px 21px -2px rgba(0,0,0,0.36);
			position:absolute;
			margin-top:330px;
			margin-left:565px;
			padding:20px;
			font-weight: 300;
			font-size:16px; 
			font-family: 'Open Sans', sans-serif; 
			line-height: 1.8;
			display:none;
		}

		#boxesfinale{ width:100%;float:left; margin:auto;margin-bottom:50px;	border-radius: 6px;}
		#final{
			width:100%;
			float:left;


		}

		#boxes{ width:100%;float:left; margin:auto;		border-radius: 6px;}
		.item1{

			background-color:gray;
			width:100%;

			float:left;
			border-radius: 6px;
			border:1px solid #cfcfcf;

		}

		.span{
			width:100%;
			height:100px;
			background-color:WHITE;
			float:left;
			text-align:center;
			padding-top:32px;
			font-size:16px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 300;

		}
		.span89{
			width:100%;
			height:100px;
			background-color:WHITE;
			float:left;
			text-align:center;
			padding-top:32px;
			font-size:16px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 300;

		}
		.span8{
			width:100%;
			height:60px;
			background-color:WHITE;
			float:left;
			text-align:center;

			font-size:18px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight:400;

		}
		.span9{
			width:100%;
			height:60px;
			float:left;
			text-align:center;
			padding-top:10px;
			margin-bottom:10px;
			font-size:18px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight:400;

		}

		.span3{
			width:100%;
			height:100px;
			background-color:WHITE;
			float:left;
			text-align:center;
			padding-top:32px;
			font-size:16px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 300;

		}
		.span2{
			width:100%;
			height:100px;
			margin:auto;
			text-align:center;
			font-size:16px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 300;
			margin-bottom:100px;

		}
		.span00{
			width:100%;
			height:100px;
			background-color:WHITE;
			float:left;
			text-align:center;
			margin-top:50px;
			font-size:16px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 300;

		}
		.span8{
			width:100%;
			height:100px;
			background-color:WHITE;
			float:left;
			text-align:center;

			font-size:16px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 300;

		}

		#continue{
			width:215px;
			height:54px;
			background-color:#1a1f3e;
			float:right;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 400;
			color:white;
			padding-top:5px;


		}
		#botaoinicial{
			width:215px;
			height:54px;

		}
		#btaereo{
			width:215px;
			height:54px;

		}
		#btnavio{
			width:215px;
			height:54px;

		}
		#btrodoviario{
			width:215px;
			height:54px;

		}

		.continue0{
			width:215px;
			height:54px;
			background-color:#1a1f3e;
			float:right;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2;
			font-weight: 400;
			color:white;
			padding-top:0px;
			border:1px solid #1a1f3e;
			cursor:pointer;


		}
		.btaereo{
			width:215px;
			height:54px;
			background-color:#1a1f3e;
			float:right;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2;
			font-weight: 400;
			color:white;
			padding-top:0px;
			border:1px solid #1a1f3e;
			cursor:pointer;


		}
		.btrodoviario{
			width:215px;
			height:54px;
			background-color:#1a1f3e;
			float:right;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2;
			font-weight: 400;
			color:white;
			padding-top:0px;
			border:1px solid #1a1f3e;
			cursor:pointer;


		}
		.btnavio{
			width:215px;
			height:54px;
			background-color:#1a1f3e;
			float:right;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2;
			font-weight: 400;
			color:white;
			padding-top:0px;
			border:1px solid #1a1f3e;
			cursor:pointer;


		}
		.continue{
			width:215px;
			height:54px;
			background-color:#1a1f3e;
			float:right;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2;
			font-weight: 400;
			color:white;
			padding-top:0px;
			border:1px solid #1a1f3e;
			cursor:pointer;


		}
		.continue:hover{
			width:215px;
			height:54px;
			background-color:#1a1f3e;
			float:right;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2;
			font-weight: 400;
			color:white;
			padding-top:0px;
			border:1px solid #1a1f3e;
			cursor:pointer;


		}

		#leftbox{
			width:48%;
			float:left;
			height:500px;
			margin-top:18px;



		}

		.line{
			width:375px;
			height:1px;
			background-color:#cfcfcf;
			margin:auto;
			top:10px;


		}


		#rightbox{
			width:48%;
			float:right;
			height:500px;
			margin-top:18px;


		}
		#box{
			width:100%;
			float:right;
			height:248px;
			margin-top:10px;
			border-radius: 6px;
			border:1px solid #cfcfcf;
			padding:20px;


		}
		#box1{
			width:31%;
			float:left;
			height:205px;

			border-radius: 6px;
			border:1px solid #cfcfcf;
			padding-left:10px;	
			padding-right:10px;	
			padding-top:20px;


		}
		#juridica{
			width:500px;
			margin:auto;
			margin-top:0px;
		}
		#box2{
			width:31%;
			float:left;
			height:205px;
			margin-left:3.5%;
			border-radius: 6px;
			border:1px solid #cfcfcf;
			padding-left:10px;	
			padding-right:10px;	
			padding-top:20px;
		}

		#box3{
			width:31%;
			float:right;
			height:205px;
			margin-left:3.5%;
			border-radius: 6px;
			border:1px solid #cfcfcf;
			padding-left:10px;	
			padding-right:10px;	
			padding-top:20px;


		}





		.continue3{
			width:300px;
			height:54px;
			background-color:#1a1f3e;
			float:left;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2;
			font-weight: 400;
			color:white;
			padding-top:0px;
			border:1px solid #1a1f3e;
			cursor:pointer;


		}
		.continue3:hover{
			width:300px;
			height:54px;
			background-color:#1a1f3e;
			float:left;
			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2;
			font-weight: 400;
			color:white;
			padding-top:0px;
			border:1px solid #1a1f3e;
			cursor:pointer;


		}

		.botaocontratar{
			width:48%;
			height:50px;
			background-color:#1a1f3e;
			margin-right:3%;

			border-radius: 6px;
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 300;
			color:white;
			padding-top:2px;
			font-size:18px;
			border:1px solid #1a1f3e;
			cursor:pointer;

		}
		.botaoadd{
			width:228px;
			height:50px;
			background-color:white;
			cursor:pointer;
			border-radius: 6px;
			font-size:20px; 
			font-size:20px; 
			font-family: 'Open Sans', sans-serif;  
			line-height: 2.2;
			font-weight: 600;
			color:#1a1f3e;
			padding-top:2px;
			font-size:18px;
			border-radius: 6px;
			border:1px solid #1a1f3e;

			}.botaoinicio{
				width:228px;
				height:50px;
				background-color:white;
				margin-bottom:50px;
				border-radius: 6px;
				font-size:20px; 
				font-size:20px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.2;
				font-weight: 600;
				color:#1a1f3e;
				padding-top:2px;
				font-size:18px;
				border-radius: 6px;
				border:1px solid #1a1f3e;
				cursor:pointer;

			}
			.botaosaibamais{
				width:48%;
				height:50px;
				background-color:white;
				float:right;
				border-radius: 6px;
				font-size:20px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.2;
				font-weight: 400;
				color:#1a1f3e;
				padding-top:2px;
				font-size:18px;
				border-radius: 6px;
				border:1px solid #1a1f3e;
				cursor:pointer;
			}
			#back{
				width:215px;
				height:54px;
				background-color:#1a1f3e;
				float:left;
				border-radius: 6px;
				font-size:20px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.2;
				font-weight: 400;
				color:white;
				padding-top:5px;


			}

			#arrow{

				height:13px;
				width:15px;
				float:right;
				margin-top:14px;
				margin-right:26px;

			}

			.perguntas{

				text-align:center;
				font-size:18px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.2;
				font-weight: 600;
				padding-top:20px;

			}
			.perguntas4{

				text-align:center;
				font-size:18px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.2;
				font-weight: 600;
				padding-top:20px;
				margin-bottom:20px;

			}
			.titleinformacoesgerais{

				text-align:left;
				font-size:18px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.2;
				font-weight: 600;
				padding-top:20px;
				margin-bottom:20px;

			}


			.titleresumo{

				text-align:left;
				font-size:20px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.0;
				font-weight: 600;
				padding-top:20px;
				margin-bottom:20px;

			}
			.titleitens{

				text-align:left;
				font-size:18px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.0;
				font-weight: 600;
				padding-top:20px;


			}
			.incoterm{

				text-align:left;
				font-size:18px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.0;
				font-weight: 300;

				margin-bottom:20px;

			}

			.detalhesitem{

				text-align:left;
				font-size:18px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 2.0;
				font-weight: 300;

				margin-bottom:20px;


			}
			#align{

				width:90%;
				justify-content: center;
				display: flex;

				margin:auto;
				padding-bottom:25px;
				padding-top:15px;

			}
			#align01{

				width:400px;
				justify-content: center;


				margin:auto;
				padding-bottom:20px;
				margin-top:20px;

			}
			#align02{

				width:400px;
				justify-content: center;


				margin:auto;
				padding-bottom:20px;
				margin-top:20px;

			}
			#align022{

				width:500px;
				justify-content: center;


				margin:auto;
				padding-bottom:20px;
				margin-top:20px;

			}

			#conteudo01{


				width:100%;

			}
			#boxncm{
				width:100%;
				padding:15px;
				float:left;
				border-radius: 6px;
				border:1px solid #cfcfcf;

			}
			#boxpeso{
				width:100%;
				padding:15px;
				float:left;
				border-radius: 6px;
				border:1px solid #cfcfcf;
				margin-top:20px;

			}
			#boxpeso1{
				width:100%;
				padding:15px;
				float:left;
				border-radius: 6px;
				border:1px solid #cfcfcf;
				margin-top:20px;
				margin-bottom:20px;


			}

			#nomeproduto{

				width:100%;
				float:left;
				margin-bottom:15px;
			}
			#comp{

				width:29%;
				float:left;
				margin-bottom:15px;
				margin-right:15px;
			}
			#help1{


				width:25px;
				height:25px;
				float:right;
				margin-top:10px;
				cursor:pointer;



			}
			#larg{

				width:29%;
				float:left;
				margin-right:15px;
				margin-bottom:15px;
			}
			#alt{

				width:28%;
				float:left;
				margin-bottom:15px;
			}

			#peso00{
				margin-top:3px;
				width:92%;
				float:left;
				margin-bottom:15px;
			}

			#textdetalhes{
				margin-top:3px;
				width:100%;
				float:left;
				margin-bottom:15px;
			}
			#pesoproduto{

				width:50%;
				float:left;

			}
			#cidadeproduto{
				margin-left:20px;
				width:45%;
				float:left;

			}
			#naoincluir{

				height:40px;
				width:30%;
				float:right;

			}
			#naosabecheck{

				width:50%;
				float:left;

			}
			#pesoliq{

				width:50%;
				float:left;

			}
			#quantidade{

				width:100%;
				float:left;
				margin-bottom:15px;

			}
			#valorunitario{

				width:150px;
				float:left;
				margin-right:3%;
				margin-bottom:15px;

			}
			#selcontainer{
				width:100%;
				float:left;	


			}
			#quanti{

				width:183px;
				float:left;
				margin-left:20px;
				margin-bottom:15px;

			}
			#city{

				width:48%;
				float:left;

				margin-bottom:15px;

			}

			#pais{

				width:48%;
				float:right;

				margin-bottom:15px;

			}
			#moeda{
				font-size:16px;
				width:32%;
				float:left;
				margin-bottom:15px;


			}

			#selaereo{

				width:100%;
				float:left;
				margin-bottom:15px;

			}	

			#seluf{

				width:20%;
				float:left;

			}	
			#selcarga1{

				width:48%;
				float:left;

				border-radius: 6px;
				border:1px solid #cfcfcf;
				padding:20px;

			}
			#selcarga2{
				width:48%;
				float:right;

				border-radius: 6px;
				border:1px solid #cfcfcf;
				padding:20px;
			}	

			#l2{
				width:100%;
				float:left;
				height:300px;
				background-color:#f6f6f6;
				margin-top:20px;

				padding:20px;
			}
			#l1{
				width:100%;
				float:left;
				height:340px;
				background-color:white;
				border-radius: 6px;
				border:1px solid #cfcfcf;
				padding:20px;
			}
			#l10{
				width:100%;
				float:left;
				height:175px;
				background-color:white;
				border-radius: 6px;
				border:1px solid #cfcfcf;
				padding:20px;
			}
			#ll1{
				width:100%;
				float:left;
				height:440px;
				background-color:white;
				border-radius: 6px;
				border:1px solid #cfcfcf;
				padding:20px;
			}

			#carga01{
				width:100%;
				height:20px;
				margin:auto;




			}

			#alinharcheck{

				width:10px;
				height:25px;
				margin:auto;

			}
			#option1{	

			}
			#carga02{
				text-align:center;
				width:100%;
				margin-top:8px;
				float:left;

				font-size:22px; 
				font-family: 'Open Sans', sans-serif;  
				font-weight:600;


			}
			#carga03{
				text-align:center;
				width:100%;

				float:left;

				font-size:16px; 
				font-family: 'Open Sans', sans-serif;  
				font-weight:300;
				font-style:italic;
				padding-top:10px;



			}
			#alinhar{

				width:100%;
				justify-content: center;
				border-radius: 6px;
				margin:auto;
				padding-bottom:25px;


			}
			#what{
				width:25px;
				height:25px;
				float:right;
				margin-top:8px;
				margin-right:50px;
				cursor:pointer;


			}
			#what0{
				width:25px;
				height:25px;
				float:right;

				cursor:pointer;


			}
			.what0{
				width:25px;
				height:25px;
				float:right;

				cursor:pointer;


			}

			.opcao{
				background-color:white;
				font-size:16px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 1.6;
				font-weight: 300;
				padding-right:3px;




			}
			.opcao1{
				background-color:white;
				font-size:16px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 1.6;
				font-weight: 300;
				padding-right:3px;




			}


			.opcao2{
				background-color:white;
				font-size:16px; 
				font-family: 'Open Sans', sans-serif;  
				line-height: 1.6;
				font-weight: 300;
				padding-right:3px;




				}.opcao3{
					background-color:white;
					font-size:16px; 
					font-family: 'Open Sans', sans-serif;  
					line-height: 1.6;
					font-weight: 300;
					padding-right:3px;




				}
				.opcao1 input{margin-right:8px}
				.opcao2 input{margin-right:8px; margin-left:40px;}
				.opcao3 input{margin-right:8px;margin-left:40px;}
				#links{

					font-size:16px; 
					font-family: 'Open Sans', sans-serif;  
					line-height: 1.6;
					font-weight: 300;
					color:#939393;
					margin-top:28px;

				}


















			}

			.align select{
				border: 1px solid #ccc;
				width: 400px;
				height:42px;
				padding:4px;
				border-radius: 3px;
				border:1px solid #BEBEBE;
				border-radius: 3px;

				overflow:hidden;

			}

			.select-style select {
				padding: 5px 8px;
				width: 100%;
				border: none;
				box-shadow: none;
				background: transparent;
				background-image: none;
				-webkit-appearance: none;

				font-size:16px; 
				font-family: 'Open Sans', sans-serif;  

				font-weight: 400;
			}

			.select-style select:focus {
				outline: none;
			}
			/* FORMULARIO */
			.form-style-1 {
				border-radius: 3px;
				margin:10px auto;
				max-width: 400px;
				padding: 20px 12px 10px 20px;

				font-size:16px; 
				font-family: 'Open Sans', sans-serif;  

				font-weight: 400;
			}
			.form-style-1 li {
				border-radius: 3px;
				padding: 0;
				display: block;
				list-style: none;
				margin: 10px 0 0 0;
			}
			.form-style-1 label{
				border-radius: 3px;
				margin:0 0 3px 0;
				padding:0px;
				display:block;
				font-weight: bold;
			}
			.form-style-1 input[type=text], 
			.form-style-1 input[type=date],
			.form-style-1 input[type=datetime],
			.form-style-1 input[type=number],
			.form-style-1 input[type=search],
			.form-style-1 input[type=time],
			.form-style-1 input[type=url],
			.form-style-1 input[type=email],
			#option1{
				font-size:16px;

			}
			#option2{
				font-size:16px;

			}

			#sel03{
				font-size:16px;

			}
			select{
				height:45px;
				width:100%;
				background: #fff url("../img/select.png") no-repeat 96% 50%;
				font-size:18px; 
				font-family: 'Open Sans', sans-serif;  
				-webkit-appearance: none;
				font-weight: 400;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				border:1px solid #BEBEBE;
				border-radius: 3px;

				padding-left: 10px;

				-webkit-transition: all 0.30s ease-in-out;
				-moz-transition: all 0.30s ease-in-out;
				-ms-transition: all 0.30s ease-in-out;
				-o-transition: all 0.30s ease-in-out;
				outline: none;  
				-webkit-appearance: none;  /* Remove estilo padrão do Chrome */
				-moz-appearance: none; /* Remove estilo padrão do FireFox */
				appearance: none; /* Remove estilo padrão do FireFox*/
			}

			.form-style-1 input[type=text]:focus, 
			.form-style-1 input[type=date]:focus,
			.form-style-1 input[type=datetime]:focus,
			.form-style-1 input[type=number]:focus,
			.form-style-1 input[type=search]:focus,
			.form-style-1 input[type=time]:focus,
			.form-style-1 input[type=url]:focus,
			.form-style-1 input[type=email]:focus,
			.form-style-1 textarea:focus, 
			.form-style-1 select:focus{
				-moz-box-shadow: 0 0 8px #88D5E9;
				-webkit-box-shadow: 0 0 8px #88D5E9;
				box-shadow: 0 0 8px #88D5E9;
				border: 1px solid #88D5E9;
				overflow: hidden;
			}
			.form-style-1 .field-divided{
				width: 49%;
			}

			.form-style-1 .field-long{
				width: 100%;
			}
			.form-style-1 .field-select{
				width: 100%;
				border: 1px solid #ccc;
				width: 400px;
				height:42px;
				padding:4px;
				border-radius: 3px;
				overflow: hidden;
				background: #fff url("../img/select.png") no-repeat 96% 50%;
				overflow: hidden;
			}
			select::-ms-expand {display: none;}
			.form-style-1 .field-textarea{
				height: 150px; overflow:hidden;
			}
			.form-style-1 input[type=submit], .form-style-1 input[type=button]{
				background: #4B99AD;
				padding: 8px 15px 8px 15px;
				border: none;
				color: #fff;
				overflow: hidden;
			}
			.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
				background: #4691A4;
				box-shadow:none;
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				overflow: hidden;
			}
			.form-style-1 .required{
				color:red; overflow:hidden;
			}


			/* /// FORMULARIO */

			.op1 input{

				background-color:red;
				float:left;
				margin-right:8px; margin-left:20px;

			}
			.form-control{display:block;width:84%;height:34px; margin-top:8px;margin-left:46px;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;

			}
			.form-control::-webkit-input-placeholder { 
				color:#cfcfcf; font-size:16px;
				}.form-controlitem{display:block;width:100%;height:34px; margin-top:8px;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;

				}
				.form-controlitem::-webkit-input-placeholder { 
					color:#cfcfcf; font-size:16px;
				}
				.form-controlproduto{display:block;width:100%;height:34px; ;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;

				}
				.form-controlproduto::-webkit-input-placeholder { 
					color:#cfcfcf; font-size:16px;
				}