@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#header{
	background-color:white;
	width:100%;
	float:left;
-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
	
}

body {

  min-width:290px;
}

#bannerprincipal{

	width:100%;


	
}
#contentbanner{
	width:1263px;
	margin:auto;
}

#titlebann{

	width:100%;
	font-size:30px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	color:white;
	
	
	
}
.saibamais{
	width:185px;
	height:38px;
	background-color:white;
	color:#1a1f3e;
	float:left;
	border-radius: 6px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	padding-top:0px;
	border:1px solid white;


}
#bts{
	margin:auto;
width:185px;
margin-top:30px;
}
.saibamais2{
	width:185px;
	height:38px;
	background-color:#2ea9f0;
	color:#1a1f3e;

	border-radius: 6px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	padding-top:0px;
	border:1px solid white;
	color:white;
	margin:auto;



}
#titleseg00{display:none}
.saibamais2off{
	width:185px;
	height:38px;
	background-color:#f3f3f3;
	color:#d1d1d1;

	border-radius: 6px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	padding-top:0px;
	border:1px solid #d1d1d1;

	margin:auto;



}
#subtitlebann{

	margin-top:10px;
	width:100%;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	color:white;
	
	
	
}
#bt{

	margin-top:30px;
	width:100%;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	color:white;
	
	
	
}


#imgbanner{
	width:100%;
	margin:auto;
	height:330px;
	background-color:yellow;
	 background: #fff url("../img/institucional/banner001.png");
	 background-size:100%;
	 background-repeat:no-repeat;
	float:left;
	padding:80px;
	
}


#content{

	float:left;
	margin-bottom:50px;
	width:100%;
	
	
}

#all{
	background-color:white;
	float:left;
	padding-bottom:70px;
	width:100%;
	
	
}

#container{

	width:1000px;
	margin:auto;
	padding-top:77px;
	
	
}

#title01{
	width: 100%;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    line-height: 37px;
    text-align: center;
    font-weight: 600;
}

#subtitle01{

	width:100%;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 400;
	text-align:center;
	color:#696969;
	padding-left:15px;
	padding-right:15px;
	padding-top:32px;
	margin-bottom:50px;
}

#boxes{

	width:100%;
	float:left;
	height:300px;
	margin-top:50px;
}

#box1{

	float:left;
	width:33.3%;

	
}
#box2{
	background-color:white;
	float:left;
	width:33.3%;

	
}
#box3{

	float:left;
	width:33.3%;

	
}
#box3 img{
	margin-top:-30px;
	
	
}

#imgbox1{
	width:110px;
	margin:auto;
	height:100px;


}

#titleb{

	width:100%;
	text-align:center;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	text-align:center;
	color:black;

	
}
#subtitleb{

	width:100%;
	text-align:center;
	font-size:14px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:center;
	color:black;

	
}

#textb{

	width:100%;
	color:#696969;
	text-align:center;
	font-size:14px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:center;
	padding:10px;

	
}
#boxrotative{
	width:1000px;
	height:250px;
	background-color:black;
	float:left;
	margin-top:220px;
	
}

#item1{
	width:250px;
	height:250px;
	float:left;
	background-color:white;
	
}
#item2{
	width:250px;
	height:250px;
	float:left;
	background-color:pink;
	
}
#boxsolucao{
	width:1263px;
	
margin:auto;
	background-color:gray;

	
}
#segmentomain{
	width:1263px;
	
margin:auto;
	
}
#boxsolucao1{
	width:100%;
	height:500px;
	float:left;
	background-color:#f3f2f2;

	
}
#segmento01{
	width:100%;
	height:507px;
	float:left;
	background-color:#f3f2f2;

	
}

#solucao01{
	width:100%;
	height:500px;
	float:left;
	background-color:#fff;

	
}
#solucao02{
	width:100%;
	height:500px;
	float:left;
	background-color:#fff;

	
}
#solucao03{
	width:100%;
	height:500px;
	float:left;
	background-color:#fff;

	
}

#segmento02{
	width:100%;
	height:507px;
	float:left;
	background-color:#f3f2f2;

	
}
#segmento03{
	width:100%;
	height:507px;
	float:left;
	background-color:#f3f2f2;

	
}
#segmento04{
	width:100%;
	height:507px;
	float:left;
	background-color:#f3f2f2;

	
}
#segmento05{
	width:100%;
	height:507px;
	float:left;
	background-color:#f3f2f2;

	
}#segmento06{
	width:100%;
	height:507px;
	float:left;
	background-color:#f3f2f2;

	
}
#imgsegmento{
	background-color:gray;
	width:290px;
	height:500px;
	float:left;
	
	
}
#icon1{
background-color:white;
width:150px;
height:150px;
margin-left:23px;	border-radius: 5px;
float:left;	
-webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
}
#icon2{
background-color:white;
width:150px;
height:150px;
margin-left:23px;	border-radius: 5px;
float:left;	
-webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
}
#icon3{
background-color:white;
width:150px;
height:150px;
margin-left:23px;	border-radius: 5px;
float:left;	
-webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
}
#icon4{
background-color:white;
width:150px;
height:150px;
margin-left:23px;	border-radius: 5px;
float:left;	
-webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
}
#icon5{
background-color:white;
width:150px;
height:150px;
margin-left:23px;	border-radius: 5px;
float:left;	
-webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
}
#icon6{
background-color:white;
width:150px;
height:150px;
margin-left:23px;	border-radius: 5px;
float:left;	
-webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.05);
}

#b1{
background-color:#f3f3f3;
width:290px;
height:280px;
margin-right:33px;	
border-radius: 5px;
padding-top:40px;

float:left;	
}
#b11{
	color:#d1d1d1;
background-color:#f3f3f3;
width:290px;
height:280px;
margin-right:33px;	
border-radius: 5px;
padding-top:40px;

float:left;	
}
#icon2{
background-color:blue;
width:100px;
height:100px;
margin:20px;	
float:left;
}

#active{
background-color:#0a1a3f;
width:150px;
height:150px;
	border-radius: 10px;
float:left;	
margin-top:140px;
position:absolute;
margin-left:200px;
-webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.58);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.58);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.58);
	
}
#titleb1{

	width:100%;

	text-align:center;
			font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	margin-top:8px;
	
}
#textb1{
margin-top:10px;
	width:100%;
padding-left:3%;
padding-right:5%;
	text-align:center;
			font-size:15px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
}
#activeb{
background-color:white;
width:290px;
height:280px;
	padding-top:40px;
float:left;	
margin-top:140px;
position:absolute;
margin-left:200px;
-webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.58);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.58);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.58);
	
}
#leftarrow{

width:90px;
height:90px;
cursor:pointer;
float:left;	
margin-top:170px;
position:absolute;
margin-left:128px;
	
}
.rightarrow{
cursor:pointer;
width:90px;
height:90px;

float:left;	
margin-top:170px;
position:absolute;
margin-left:330px;
	
}
.leftarrow{
cursor:pointer;
width:90px;
height:90px;

float:left;	
margin-top:170px;
position:absolute;
margin-left:128px;
	
}
.rightarrowb1{
cursor:pointer;
width:90px;
height:90px;

float:left;	
margin-top:240px;
position:absolute;
margin-left:478px;
	
}
.leftarrowb1{
cursor:pointer;
width:90px;
height:90px;

float:left;	
margin-top:240px;
position:absolute;
margin-left:128px;
	
}
#rightarrow{
cursor:pointer;
width:90px;
height:90px;

float:left;	
margin-top:170px;
position:absolute;
margin-left:330px;
	
}

#titleseg{
	width:800px;


		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 500;
	margin-top:60px;
	margin-left:350px;
	
}
#titleseg1{
	width:800px;

		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 500;
padding-top:240px;
	margin-left:350px;
	
}
#titleseg2{
	width:800px;
margin-top:20px;

	font-size:15px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;

	margin-left:350px;
	
}
#alignicons
{
width:900px;

float:right;

margin-top:50px;


	
}
#alignbox
{
width:730px;

float:right;

margin-top:50px;


	
}

#unindo{
	width:100%;
	min-height:360px;
	float:left;
	padding-top:60px;	padding-bottom:55px;
	
}

#titleunindo{
	width:100%;
	font-size:21px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	text-align:left;
	color:#19203f;
	
	
}


#textunindo{

	width:50%;
	color:#696969;
	text-align:center;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	padding-top:10px;	padding-right:20px;
	float:left;
margin-bottom:30px;
	
}

#textunindo2{
	background-color:white;
	width:50%;
	color:#696969;

	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	padding:10px;
	float:right;

	
}
#textunindo2 li{
	color: #4469a0;
	font-weight: 600;
}
#left{
	width:48%;
	float:left;
	float:left;
	
}
#right{
	width:48%;
	float:right;

	
}
#left1{
	width:48%;
	float:left;
	float:left;
	
}
#right2{
	width:48%;
	float:right;

	
}

#historia{
	width:100%;
padding-top:40px;
	float:left;
	
}

#titlehistoria{

	width:100%;
	font-size:21px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	text-align:left;
	color:#19203f;
	
	
}


#texthistoria{
	font-size:15px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 300;
	text-align:left;
	padding-top:35px;
	
}
.termosAceitar{
	text-align: center;
	margin: 30px 0 0;
	font-size: 18px;
	text-decoration: underline;
}
	.termosAceitar input{
		width: 29px;
	    height: 25px;
	    vertical-align: middle;
	}