@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  min-width:290px;
}



.index #containerheader{

	width:1100px;

	
	
}

.index #menu{
	background-color:blue;
	width:600px;
	height:30px;
	float:left;
	
}

.index #login{
		background-color:orange;
	width:300px;
	height:30px;
	float:right;
}
.index #logo{
	background-color:yellow;
	width:200px;
	height:50px;
	float:left;
	
}

.index #header01{
	background-color:#252B2D;
	width:100%;
	height:83px;	
	float:left;
  position: fixed;
  z-index: 9999;
  -webkit-box-shadow: -1px 2px 16px -4px rgba(0,0,0,0.42);
-moz-box-shadow: -1px 2px 16px -4px rgba(0,0,0,0.42);
box-shadow: -1px 2px 16px -4px rgba(0,0,0,0.42);
	
}
/* alinhamento do menu */

.index #containerhead{

	width:80%;
	height:50px;
	margin:auto;
	
	
}

.index  li{display:inline}









.index  #espaco01c{
	background-color:#F9F9F9;
	float:left;
	height:250px;
	width:100%;
	padding-top:130px;
	
	
}

.index  #title01c{
	background-color:#F9F9F9;
	width:1100px;
	height:90px;
	margin:auto;
	text-align:center;
	width:100%;
	font-size:23px;   
	font-family: 'Open Sans', sans-serif;			 
	line-height: 1.5; 
	font-style:bold; 
	font-weight: 300
	
}





.index  #header{
	background-color:white;
	width:100%;
	height:90px;
	float:left;
-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
	
}


.index  #container{
	width:1100px;
	padding: 0;
	
}

.index  #traject{
	width:100%;
	height:80px;

	float:left;
	
}


.index  #banner{
	width:100%;
	float:left;

	

}


#process{
	width: 100%;
    min-height: 564px;
    /* float: left; */
    background-color: #f9f9f9;
    padding-top: 15px;
    max-width: 1100px;
    margin: 0 auto;
    display: block;
}
.banner2{
	margin:auto;
	width:100%;
	background-color:red;
	float:left;
	
}

.banner{
	width:880px;
	margin:auto;
	padding-bottom:50px;
}
#container{}

#process1{

}
#process2{

}

#alignicon{

	width:80%;
	height:100px;
	margin:auto;
	
}


#content{
	background-color:#fff;
	width:100%;
	float:left;

	
	
}

#process1{
	
width:100%;
}
#process3{
	
width:100%;
}
#process4{
	
width:100%;
}
#process5{
	
width:100%;
}


#p1{
	width:20%;
	min-height:100px;
	float:left;

	padding-top:50px;
	
	
}

.textactive{
	color:#1a1f3e;

	text-align:center;
		font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 600;
	font-size:18px; 
	margin-top:12px;
	
	
}
.textoff{
	color:#cfcfcf;

	text-align:center;
		font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 300;
	font-size:18px; 
	margin-top:12px;
	
	
}
#lineactive{
	width:100%;
	height:1px;
	background-color:#19203f;
	
}

#lineoff{
	width:100%;
	height:1px;
	background-color:#cfcfcf;
	
	
}

#p2{
	width:20%;
	height:100px;
	float:left;

	padding-top:50px;
	
	
}
#p3{
	width:20%;
	height:100px;
	float:left;

	padding-top:50px;
	
	
}
#p4{
	width:20%;
	height:100px;
	float:left;

	padding-top:50px;
	
	
}#p5{
	width:20%;
	height:100px;
	float:left;

	padding-top:50px;
	
	
}

#circleactive{
	background-color:#19203f;
	width:36px;
	height:36px;
margin-top:-20px;
	border-radius: 30px;
	margin-left:70px;

	color:white; 	
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 300;
	font-size:20px; 
	text-align:center;
	padding-top:-10px;

	
	
}

#circleoff{
background-color:#f9f9f9;
	width:36px;
	height:36px;
margin-top:-20px;
	border-radius: 30px;
	margin-left:70px;
	border:1px solid #cfcfcf;
	color:#cfcfcf; 	
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.7;
	font-weight: 300;
	font-size:20px; 
	text-align:center;
	padding-top:-10px;

	
	
}


#container2{
	width: 100%;
    background-color: #fff;
    margin: auto;
    max-width: 910px;
    padding-top: 50px;



}

#title1{
	background-color:#fff;
	width:100%;
margin-bottom:-20px;
	float:left;
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	font-size:26px;

	
}
#title8{
	background-color:#fff;
	width:100%;
margin-bottom:-20px;
	float:left;
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	font-size:26px;

	
}


.divid{
	background-color:#cfcfcf;
	width:100%;
	height:1px;
	float:left;
	
margin-top:50px;
	margin-bottom:50px;
	
}.divid8{
	background-color:#cfcfcf;
	width:100%;
	height:1px;
	float:left;
	
margin-top:50px;
	margin-bottom:50px;
	
}.divid9{
	background-color:#cfcfcf;
	width:100%;
	height:1px;
	float:left;
	
margin-top:50px;
	margin-bottom:50px;
	
}
.divid4{
	background-color:#cfcfcf;
	width:100%;
	height:1px;
	float:left;
	

	margin-bottom:50px;
	
}
.divid5{
	background-color:#cfcfcf;
	width:100%;
	height:1px;
	float:left;
	
margin-top:50px;
	margin-bottom:50px;
	
}


.checkbox{
	
	background-color:#fff;
	width:100%;

	float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		
}
.checkbox6{

	background-color:#fff;
	width:49%;
padding-bottom:40px;
	float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;

}
.resumo{

	background-color:#fff;
	width:100%;
padding-bottom:40px;
	float:left;


}



.checkbox4{
	padding-top:8px;
	padding-left:3px;	
	padding-right:3px;
	background-color:#fff;
	width:49%;
padding-bottom:40px;
	float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;

}
#alignform{


margin:auto;

	width:60%;

	
	
	
}

.formulariobox{
	padding-top:8px;
	padding-left:3px;	
	padding-right:3px;

	width:100%;
padding-bottom:40px;
	float:left;


}
.checkbox5{
		padding-top:8px;
	padding-left:3px;	
	padding-right:3px;
padding-bottom:40px;
	background-color:#fff;
	width:49%;
margin-left:2%;
	float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		
}
.informacoesgerais{
		padding-top:8px;
	padding-left:3px;	
	padding-right:3px;
padding-bottom:40px;
	background-color:#fff;
	width:100%;

}

#voltar{

	width:220px;
	height:60px;
	float:left;
	
}
#checkconcordar{

	width:420px;
	height:60px;
	float:left;
	
}
#checkconcordar1{

	width:420px;
	height:60px;
	float:left;
	
}


#continuar{

	width:220px;
	height:60px;
	float:left;
	
}

#alignconcordar{

	width:300px;
	float:right;
	margin-top:10px;	
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 300;
	color:#666;
	
}

#boxesfinale{ width:100%;float:left; margin:auto;margin-bottom:50px;	border-radius: 6px;}
#boxes{ width:100%;float:inherit!important; margin:auto;		border-radius: 6px;}
.item1{
	
	background-color:gray;
	width:100%;

	float:inherit!important;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		
}

.span{
	width:100%;
	height:100px;
	background-color:#fff;
	float:left;
	text-align:center;
	padding-top:32px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 300;

}.span3{
	width:100%;
	height:100px;
	background-color:#fff;
	float:left;
	text-align:center;
	padding-top:32px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 300;

}
.span2{
	width:100%;
	height:100px;
	background-color:#fff;
	float:left;
	text-align:center;

	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 300;

}

#continue{
	width:215px;
	height:54px;
	background-color:#1a1f3e;
	float:right;
	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 400;
	color:white;
	padding-top:5px;


}
.continue{
	width:215px;
	height:54px;
	background-color:#1a1f3e;
	float:right;
	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	color:white;
	padding-top:0px;
		border:1px solid #1a1f3e;


}

.botaocontratar{
	width:48%;
	height:50px;
	background-color:#1a1f3e;
margin-right:3%;

	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 300;
	color:white;
	padding-top:2px;
	font-size:18px;
		border:1px solid #1a1f3e;


}
.botaoadd{
	width:228px;
	height:50px;
	background-color:white;

	border-radius: 6px;
		font-size:20px; 
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	color:#1a1f3e;
	padding-top:2px;
	font-size:18px;
		border-radius: 6px;
		border:1px solid #1a1f3e;

}.botaoinicio{
	width:228px;
	height:50px;
	background-color:white;
margin-bottom:50px;
	border-radius: 6px;
		font-size:20px; 
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	color:#1a1f3e;
	padding-top:2px;
	font-size:18px;
		border-radius: 6px;
		border:1px solid #1a1f3e;

}
.botaosaibamais{
	width:48%;
	height:50px;
	background-color:white;
float:right;
	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 400;
	color:#1a1f3e;
	padding-top:2px;
	font-size:18px;
		border-radius: 6px;
		border:1px solid #1a1f3e;

}
#back{
	width:215px;
	height:54px;
	background-color:#1a1f3e;
	float:left;
	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 400;
	color:white;
	padding-top:5px;


}

#arrow{

	height:13px;
	width:15px;
	float:right;
	margin-top:14px;
	margin-right:26px;
	
}

.perguntas{

	text-align:center;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	padding-top:20px;
	
}
.perguntas4{

	text-align:center;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	padding-top:20px;
	margin-bottom:20px;
	
}
.titleinformacoesgerais{

	text-align:left;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	padding-top:20px;
	margin-bottom:20px;
	
}


.titleresumo{

	text-align:left;
	font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.0;
	font-weight: 600;
	padding-top:20px;
	margin-bottom:20px;
	
}
.titleitens{

	text-align:left;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.0;
	font-weight: 600;
	padding-top:20px;

	
}
.incoterm{

	text-align:left;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.0;
	font-weight: 300;

	margin-bottom:20px;
	
}

.detalhesitem{
	
	text-align:left;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.0;
	font-weight: 300;

	margin-bottom:20px;
		
	
}
#align{

  width:90%;
    justify-content: center;
	  display: flex;

	margin:auto;
	padding-bottom:25px;
	padding-top:15px;

}

#boxncm{
	width:100%;

padding:15px;
	float:left;
			border-radius: 6px;
		border:1px solid #cfcfcf;

}

#nomeproduto{

	width:100%;
	float:left;
	margin-bottom:15px;
}

#quantidade{

	width:100%;
	float:left;
	margin-bottom:15px;
	
}
#valorunitario{

	width:48%;
	float:left;
	margin-right:4%;
	margin-bottom:15px;
	
}
#moeda{

	width:48%;
	float:left;
	margin-bottom:15px;
	
}
#alinhar{

  width:100%;
    justify-content: center;

		border-radius: 6px;
	margin:auto;
	padding-bottom:25px;


}
.opcao{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;


	
	
}
.opcao1{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;


	
	
}


.opcao2{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;


	
	
}.opcao3{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;


	
	
}
.opcao1 input{margin-right:8px}
.opcao2 input{margin-right:8px; margin-left:40px;}
.opcao3 input{margin-right:8px;margin-left:40px;}
#links{

	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	color:#939393;
	margin-top:28px;
	
}
#maritmo{background-color:blue; width:40%; float:right; height:200px; float:left}


#aereo{background-color:red; width:40%; display:inline; height:200px; float:right;}



#subtext{
margin-left:42px; 
COLOR:cfcfcf;
	float:left;	
	display:inline;
	margin-top:8px;
	font-size:14px;
}
#textinformacoesgerais{

color:black;
	float:left;	
	display:inline;
	margin-top:8px;
	font-size:16px;
		line-height: 1.6;
}


.index  .align select{
    border: 1px solid #ccc;
    width: 400px;
	height:42px;
	padding:4px;
    border-radius: 3px;
    border:1px solid #BEBEBE;
	    border-radius: 3px;

	overflow:hidden;

}

.index .select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
		
		font-size:16px; 
	font-family: 'Open Sans', sans-serif;  

	font-weight: 400;
}

.select-style select:focus {
    outline: none;
}
	/* FORMULARIO */
	.form-style-1 {
		    border-radius: 3px;
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
		
		font-size:16px; 
	font-family: 'Open Sans', sans-serif;  

	font-weight: 400;
}
.form-style-1 li {
	    border-radius: 3px;
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
	    border-radius: 3px;
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],

select{
	width:253px;
			    background: #fff url("../img/s.png") no-repeat 93% 50%;
		font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
-webkit-appearance: none;
	font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
	    border-radius: 3px;
    padding: 10px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
	   -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
}

.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
		    overflow: hidden;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
	    border: 1px solid #ccc;
    width: 400px;
	height:42px;
	padding:4px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff url("../s.png") no-repeat 96% 50%;
		    overflow: hidden;
}
select::-ms-expand {display: none;}
.form-style-1 .field-textarea{
    height: 150px; overflow:hidden;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
		    overflow: hidden;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
	    overflow: hidden;
}
.form-style-1 .required{
    color:red; overflow:hidden;
}


/* /// FORMULARIO */

.op1 input{

	background-color:red;
	float:left;
	margin-right:8px; margin-left:20px;
	
}
.form-control{display:block;width:84%;height:34px; margin-top:8px;margin-left:46px;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;

}
.form-control::-webkit-input-placeholder { 
color:#cfcfcf; font-size:16px;
}.form-controlitem{display:block;width:100%;height:34px; margin-top:8px;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;

}
.form-controlitem::-webkit-input-placeholder { 
color:#cfcfcf; font-size:16px;
}
.form-controlproduto{display:block;width:100%;height:34px; ;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;

}
.form-controlproduto::-webkit-input-placeholder { 
color:#cfcfcf; font-size:16px;
}

/* CORRELÇÕES */
	.correcaoLabel{
		min-height: initial!important;
		padding-left: inherit!important;
		margin-bottom: inherit!important;
		font-weight: inherit!important;
		cursor: inherit!important;
	}