
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (min-width:200px) {
	.container {
      /*padding-right: 15px !important;
        padding-left: 15px !important;*/
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (max-width:480px) {
    .header .navMobile {top: 74px;}
    .logo{text-align: center;}
}
@media only screen and (min-width:480px) {}
@media only screen and (max-width:550px) {}
@media only screen and (min-width:767px) {
    .container {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
    ul#menu-principal li{width: 14.28%;height: 80px;list-style: none;border-right: dashed 1px #000;background-color: #fff;padding-left: 2%;text-align: center;display: table;padding-right: 2%;}
    .dataBox {float: left;width: auto;}
    .loginHeader .infoHeader:first-child p {    margin-bottom: 3px;
    margin-top: 3px;}
    .loginHeader .infoHeader:last-child {padding-right: 15px;background: none;}
}
@media only screen and (max-width:500px) {
    .banner-parceiros-home .banner ul{
            display: block !important;
    } 
}
@media only screen and (max-width:768px) {
    .ender .form div.wpcf7 {
        margin: 0;
        padding: 0 0 0 0;
    }
    .container.content-list {
        margin-top: 10px;
    }
    .divNews .botao button {
        width: 100%;
        height: 40px;
        top: 10px;
    }
    .row.foot3 .logo img {
        float: left;
        position: relative;
        margin-left: 19%;
    }
    .row.foot3 .assinatura {
        text-align: center;
        margin-top: 14px;
    }
    .btn-banner {
        width: 240px;
        width: 100%;
    }
    .row.servicos-home .botao {
        text-align: center;
        margin-bottom: 50px;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .navMobile ul#menu-principal li a {
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        color: #fff;
        font-weight: 100;
        font-family: 'robotoregular';
        display: block;
    }
    .header {
        display: block;
        padding: 0px 0 10px 0;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .divInfos{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .container.divHeader.navbar-fixed-top.p0{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .divHeader {
       
    }
    .divHeader.container {
        
    }
    .internas .divHeader {
          
    }
    .row.intro-home {
        margin-top: 0;
    }
    .fones {
        margin-top: 9px;
        float: left;
        position: relative;
        font-size: 14px;
        color: #fff;
        width: 100%;
        text-align: center;
        margin-bottom: 9px;
    }
    .row.rowHeader{
        height: 100px;
    }
    .navMobile ul {border-bottom: none;}
    .navMobile nav {margin-top: 0;box-shadow: none;height: 81px;padding-left: 0;
    padding-right: 0;margin-bottom: 0;list-style: none;height: auto;border: none;}
    .navMobile form div:last-child{padding-left: 0px !important;}
    .navMobile form div:nth-child(2) {
        padding-right: 0px !important;
        padding-left: 2px !important;
    }
    header.header .menuMobile{
        margin: 10px 0px;
        cursor: pointer;
        font-size: 40px;
        color: #14152b;
        
    }
    .internas .menuMobile {
        margin: 2px 0px;
        color: #1ab7ea !important;
    }
    .logo-img {
        width: 200px !important;
        margin-top: 11px !important;
    }
    .logo{text-align: center;}
}
@media only screen and (max-width:1210px) {
    .know-how-home section {
        padding: 2% 0 0 20px;
    }
    .know-how-home .texto p {
        font-family: 'robotothin';
        font-size: 18px;
        line-height: 30px;
        margin-top: 10px;
    }
}
@media only screen and (max-width:1190px) {
    .intro-home .texto p {
        line-height: 30px;
    }
    .know-how-home .texto h3 {
        font-family: 'robotoblack';
        font-size: 60px;
        color: #4eb2e5;
        margin-top: 0;
    }
}
@media only screen and (max-width:990px) {

.afiliados .block {left: 0 !important; margin: 0;}


  .internas .boxLinksBanner {
    margin-top: 15px;
}
.internas .boxLinksBanner ul{
  display: block;
  width: 100%;
}
.internas .boxLinksBanner ul li {
    width: 100%;
  }
.empresa .banner-info.container {
     margin-top: 20px;
}
  .empresa .textos {
    margin-bottom: 0px;
    margin-top: 10px;
}
.empresa .faca-parte h3 {
    margin-top: 50px;
  }
  .cobranca .texto h3 {
    margin-top: 20px;
  }
  .empresa .info {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container.content-list.empresa {
    margin-top: 490px;
  }
  .row.foot2 {
   
    margin-top: 0;
  }
  .empresa .faca-parte p {
    
    width: 100%;
  }
  .internas .banner-info p {
    font-size: 28px;
    font-family: 'robotothin';
    color: #1ab7ea;
    margin-top: 30px;
    line-height: 28px;
}
.servicos .faca-parte h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container.content-list.servicos .info {
    margin-top: 20px;
}
.container.content-list.servicos .info .img {
    text-align: center;
  }
  .container.content-list.servicos .info .titulo {
    line-height: 25px;
    text-align: center;
  }
  .row.segmentos {
    padding-bottom: 30px;
  }
  .row.processo .img {
    height: 210px;
}
.container.content-list.servicos {
    margin-top: 480px;
    padding-bottom: 60px;
}
  .cobranca .cobserv {
    width: 100%;
    margin-left: 0;
    border-bottom: solid 1px #ccc;
}
.container.content-list.cobranca {
    margin-top: 30px;
    padding-bottom: 70px;
}
.processo .texto {
    padding: 0;
}
.servicos .titulo p {
    width: 100%;
}
.servicos .faca-parte p {
    
    width: 100%;
  }
  .container.content-list.servicos .info .description {
      margin: 0;
    width: 100%;
    text-align: center;
  }
  .container.content-list.servicos.segmentos {
    margin-top: 0px;
    padding-bottom: 0px;
}
    .row.know-how-home {
        height: 100%;
    }
    .know-how-home .texto{
        margin: 30px 0;
        padding: 0;
    }
    .row.servicos-home .botao {
        text-align: center;
        margin-bottom: 50px;
    }
    .row.servicos-home ul li{
        text-align: center;
    }
    .row.servicos-home {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .servicos-home .texto {
        position: relative;
        width: 100%;
        left: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .row.negocie-home {
        margin-top: 0px;
    }
     .logo-img {
        width: 200px !important;
        margin-top: 11px !important;
    }
    .header {
        display: block;
        padding: 0px 0 10px 0;
    }
}
@media only screen and (min-width:991px) {




}
@media only screen and (max-width:1024px) {}
@media only screen and (min-width:1024px) {}
@media only screen and (max-width:1140px) {
}
@media only screen and (min-width:1140px) {}
@media only screen and (max-width:1200px) {}
@media only screen and (max-width:1300px) {}
@media only screen and (min-width:1280px) {}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
    background-color: #14152b;
        min-width: 140px;
}
.table > colgroup + thead > tr > th.primeira{
  background: #fff;
}
.table > colgroup + thead > tr > th h2 {
    font-size: 30px;
    text-align: center;
    color: #fff;
        margin-top: 10px;
    font-size: 16px;
}
.table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    background: #eceaea;
    border: solid 1px #fff;
    padding: 20px;
        color: green;
}

.table > tbody > tr > th.recursos{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 16px;
    background: #e6e3e3;
    border: solid 1px #fff;
    padding: 20px;
        color: #14152b;
}
.table-responsive {
    min-height: .01%;
    overflow-x: hidden;
    float: left;
    position: relative;
    padding-top: 40px;
    border-top: solid 1px #ccc;
}
.descontoSEP{
color: #fff;
    width: 51px;
    height: 52px;
    display: -webkit-inline-box;
    border-radius: 23px;
    padding: 16px 9px;
    background: url(../img/bg-descontoSEP.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
}
.table > tbody > tr > td.custos {
    color: #14152b !important;
}
.table > tbody > tr > td .fa{
      font-size: 24px;
    color: #03b93d;
}
.table > tfoot > tr > td{
  font-size: 20px;
  color: #14152b;
  font-weight: 600;
}
.table > tfoot > tr > td.valor span{
      font-size: 16px;
    
}
a.btn.btn-primary.btn-block.text-uppercase {
    border-radius: 5px;
    padding: 12px 9px 29px !important;
    background: #7fdcf9;
    font-weight: 600;
    border: none;
}
.botao a.btn.btn-primary.btn-block.text-uppercase {
    width: 150px;
    margin: 0 auto;
    margin-top: 50px;
}
.table > tfoot > tr > td,.table > tfoot > tr > th{
  background: #fff;
}
.assine .content-relacionados,.assine .content-relacionados:first-of-type {
    padding: 0 15px !important;
  }
  .row.azul {
    background: #14152b;
}
.div-planos-azul h3.assinatura {
  color: #fff;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: solid 1px #fff;
  margin-bottom: 70px;
  font-family: 'opensans-regular';
  font-weight: 600;
}
.div-plano .col-xs-12.p0.azul {
    text-align: center;
}
.div-plano .col-xs-12.p0.azul p.assinatura {
    color: #999;
    font-family: 'opensans-regular';
    font-size: 14px;
}
.azul h2 {
    color: #fff;
    margin-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 55px;
    font-family: 'opensans-regular';
    font-weight: 600;
    font-size: 24px;
}
.azul p.valor {
    font-size: 70px;
    color: #fff;
}
span.cifrao {
    font-size: 16px;
    position: relative;
    top: -37px;
    /* left: -19px; */
}
span.mes {
    font-size: 16px;
    bottom: 0px;

}
.div-planos-azul {
    margin-bottom: 0;
}
.col-xs-12.col-md-3.div-plano {
    padding-bottom: 40px;
    margin-bottom: 0;
    padding-top: 20px;
    border-top: transparent 1px;
    border-left: transparent 1px;
    border-right: transparent 1px;
    border-bottom: transparent 1px;
}
.col-xs-12.col-md-3.div-plano.active{
border-top: solid 1px #7fdcf9;
    border-left: solid 1px #7fdcf9;
    border-right: solid 1px #7fdcf9;
    border-bottom: transparent 1px;
}
.row.conteudo-home.seja-assinante {
    margin-top: 0;
}
.row.conteudo-home.seja-assinante .internas {margin-bottom: 80px;}

.col-xs-12.col-md-3.div-plano.interno {
    padding-bottom: 30px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-bottom: transparent 1px;
    border-left: transparent 1px;
    border-right: transparent 1px;
    border-top: transparent 1px;
}
.col-xs-12.col-md-3.div-plano.interno.active {
    border-bottom: solid 1px #7fdcf9;
    border-left: solid 1px #7fdcf9;
    border-right: solid 1px #7fdcf9;
    border-top: transparent 1px;
}
a.btn.btn-primary.btn-block.text-uppercase:hover {
    background: #181f3d;
}
.div-plano.interno ul {
  list-style: none;
}
.div-plano.interno ul li {
    padding: 3px 5px;
    font-size: 14px;
}
.div-plano i.fa.fa-check {
    color: #ccc;
    font-size: 12px;
    margin-right: 5px;
}
.assinante .div-banner {
margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px 20px 14px;
    border: solid 2px #96720c;
}
.assinante .div-banner p.tituloBanner {
    font-size: 21px !important;
    /* font-weight: 600; */
    color: #14152b;
    margin: 7px 0 10px 0;
    font-family: 'opensans-bold';
    border-right: solid 1px #ccc;
    text-align: center;
}
.assinante .div-banner p.tituloBanner span {
    margin-right: 3px;
    color: #96720c;
}
.assinante .div-banner p.tituloBanner span.cifrao {
    top: -9px;
}
.assinante .div-banner p.tituloBanner.valor span {
    color: #14152b !important;
}
.div-banner a.btn.btn-primary.btn-block.text-uppercase {
    background: #96720c;
}
.assinante .div-banner p.tituloBanner.valor span.preco {
    font-size: 30px;
}
.assinante .div-banner .div-msg-banner{
  text-align: center;text-align: center;
  font-size: 16px;
  line-height: 18px;
  padding: 3px;
}
.descontoSEP {
    color: #fff;
    width: 53px;
    height: 52px;
    display: block;
    border-radius: 23px;
    padding: 16px 9px;
    background: url(../img/bg-descontoSEP.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* text-align: center; */
    margin: 0 auto;
    font-weight: 600;
}
.splash-azul {
width: 38px;
    height: 38px;
    padding: 16px 9px;
    background: url(../img/bg-borda-azul.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: -3px;
    top: -9px;
}