@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

  min-width:290px;
}

#header{
	background-color:white;
	width:100%;
	height:90px;
	float:left;
-webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.65);
	
}



#traject{
	width:100%;
	height:80px;

	padding-left:10%;
	padding-right:10%;
	float:left;
	
}

#links{

	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	color:#939393;
	margin-top:28px;
	
}

#process1{
	background-color:white;
width:100%;
}

#process{
	
	width:100%;

	float:left;
	background-color:#f9f9f9;	
	padding-top:15px;
	
	
}

#alignicon{

	width:90%;
background-color:pink;
	margin:auto;


	
}

#p1{
	width:20%;
	height:100px;
	float:left;

	padding-top:33px;
	text-align:center;
	
}

#p3{
	width:20%;
	height:100px;
	float:left;

	padding-top:33px;
	
	
	
}
#p2{
	width:20%;
	height:100px;
	float:left;


	padding-top:33px;
	
	
}	
#p4{
	width:20%;
	height:100px;
	float:left;

	padding-top:33px;
	
	
}
#p5{
	width:20%;
	height:100px;
	float:left;

	padding-top:33px;
	
	
}
#lineactive{
	width:100%;
	height:1px;
	background-color:#19203f;
	
}
.textactive{
color:black; 	
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 500;
	font-size:16px; 
	text-align:center;
	margin-top:10px;
}
.textoff{
display:none
	
	
}


#lineoff{
	width:100%;
	height:1px;
	background-color:#b2b2b2;
	
}

#circleactive{
	background-color:#19203f;
	width:36px;
	height:36px;
	margin-top:-0px;
	border-radius: 30px;
margin:auto;
	color:white; 	
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 300;
	font-size:20px; 
	text-align:center;


}
	


#circleoff{
	background-color:#b2b2b2;
	width:10px;
	height:10px;
	margin-top:-5px;
	border-radius: 30px;
margin-left:43%;
	color:white; 	
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 300;
	font-size:20px; 
	text-align:center;
align-content: center;

	
	
}

#circleoff label{

display:none
	
	
}




#circleactive{
	background-color:#19203f;
	width:36px;
	height:36px;
	margin-top:-20px;
	border-radius: 30px;

	color:white; 	
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.8;
	font-weight: 300;
	font-size:20px; 
	text-align:center;
	padding-top:-10px;

	
	
}
.botaoinicio{
	width:228px;
	height:50px;
	background-color:white;
margin-bottom:50px;
	border-radius: 6px;
		font-size:20px; 
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	color:#1a1f3e;
	padding-top:2px;
	font-size:18px;
		border-radius: 6px;
		border:1px solid #1a1f3e;

}
.banner{display:none}
#process3{
background-color:white;
	float:left;
width:100%;
padding-bottom:40px;
}
#content{
	background-color:WHITE;
	width:100%;
	float:left;
margin-bottom:50px;
padding-bottom:50px;
	
	
}

.opcao1 input{margin-top:0px}

.opcao1 p{margin-top:-5px}
.opcao2 p{margin-top:-5px}
.opcao11 p{margin-top:-5px}
.opcao22 p{margin-top:-5px}
.opcao3 p{margin-top:-5px}
.opcao2 input{margin-right:8px; margin-left:40px;}
.opcao3 input{margin-right:8px;}
.opcao1{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
width:100%;
float:left;

	
	
}.opcao1{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
width:100%;
float:left;

	
	
}

#container2{
	width:85%;
	padding-top:50px;
	background-color:WHITE;
	margin:auto;



}

#title1{
	background-color:WHITE;
	width:100%;
margin-bottom:40px;
	float:left;
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	font-size:22px;

	
}
#title8{
	background-color:WHITE;
	width:100%;
margin-bottom:20px;
	float:left;
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 600;
	font-size:22px;
	padding-top:20px;

	
}

.divid{
display:none
	
}

.checkbox{
	
	background-color:WHITE;
	width:100%;
padding-left:15px;
padding-right:15px;
	float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		
}

.perguntas{

	text-align:center;
	font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 600;
	padding-top:20px;
	float:left;

	width:100%;
	
}
#opcoesalinha{

	width:100%;
	height:auto;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	padding:20px;

	
}
#align{

  width:80%;
    justify-content: center;


	margin:auto;
	padding-bottom:25px;
	padding-top:15px;

}
.banner{float:left;}
#banner{width:100%;
height:0px;}

#imgbanner{
	width:100%;
	margin:auto;

	background-color:yellow;
	 background: #fff url("../img/background.png")  100%;
	   background-size: 1500px;
	 background-repeat:no-repeat;
	float:left;
	padding:50px;
	
}
#titlebann{

	width:100%;
	font-size:30px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.4;
	font-weight: 400;
	text-align:left;
	color:white;
	
	
	
}
#subtitlebann{

	margin-top:10px;
	width:100%;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	text-align:left;
	color:white;
	
	
	
}

.span3{
	width:100%;
	height:100px;
	background-color:WHITE;
	float:left;
	text-align:center;
	
	margin-bottom:-18px;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-left:10px;	
	padding-right:10px;

}
.span{
	width:100%;
	height:100px;
	background-color:WHITE;
	float:left;
	text-align:center;
	margin-top:30px;	
	margin-bottom:-18px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-left:10px;	
	padding-right:10px;

}.span8{
	width:100%;
	height:100px;
	background-color:WHITE;
	float:left;
	text-align:center;
	margin-top:10px;	
	margin-bottom:-18px;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-left:10px;	
	padding-right:10px;

}

#alignform{
padding-top:20px;

margin:auto;

	width:100%;

	
	
	
}
#nomeproduto{

	width:100%;
	float:left;

}
#boxes{ width:100%;float:left; margin:auto;		padding-top:30px; border-radius: 6px;}
#continuar{

	width:100%;
margin-top:30px;
	float:left;

	
}

.continue{
	width:100%;
	height:54px;
	background-color:#1a1f3e;
	float:left;
	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	color:white;
	padding-top:0px;
		border:1px solid #1a1f3e;


}
.perguntas4{

	text-align:center;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	padding-top:20px;
	margin-bottom:20px;
	
}

.opcao{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;


	
	
}.opcao11{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;


	
	
}
.opcao22{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;
	width:100%;
	float:left;


	
	
}
.opcao1{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;


	
	
}
.opcao2{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;
	width:100%;
	float:left;


	
	
}
.opcao3{
	background-color:white;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 1.6;
	font-weight: 300;
	padding-right:3px;
	width:100%;
	float:left;

	
	
}

.titleresumo{

	text-align:left;
	font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.0;
	font-weight: 600;
	padding-top:20px;
	margin-bottom:0px;
	
}

#sel01{
width:100%;
margin-bottom:20px;

	
}

#sel02{
width:100%;
margin-bottom:20px;

	
}
#sel03{
width:100%;
margin-bottom:0px;
	
}
#botaoinicial{
		width:100%;
	height:54px;
	
}
#btaereo{
		width:100%;
	height:54px;
	
}
#pesoliq{

	width:100%;
	float:left;

}
#message{display:none}
#boxpeso1{
	width:100%;
	padding:15px;
	float:left;
	border-radius: 6px;
	border:1px solid #cfcfcf;
	margin-top:20px;
	margin-bottom:20px;


}
#alignnaosabe{
padding-left:5px;
padding-right:10px;
	width:100%;
	float:right;
	margin-top:1px;	
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 300;
	color:black;

	
}

#what0{
	width:25px;
	height:25px;
	float:right;

	cursor:pointer;
	
	
}
#what{
	width:25px;
	height:25px;
	float:right;
margin-top:-50px;
	cursor:pointer;
	display:none;
	
	
}
.span89{
	width:100%;
	height:80px;
	background-color:WHITE;
	float:left;
	text-align:center;
	padding-top:32px;
	font-size:20px; 
	font-family: 'Open Sans', sans-serif;  

	font-weight: 300;

}
.span9{
	width:100%;
	height:80px;
	background-color:WHITE;
	float:left;
	text-align:center;
	padding-top:32px;
	font-size:20px; 
	font-family: 'Open Sans', sans-serif;  

	font-weight: 300;

}
	#selcarga1{

	width:48%;
	float:left;

	border-radius: 6px;
	border:1px solid #cfcfcf;
	padding:20px;
	
}

#comp{

	width:100%;
	float:left;
	margin-bottom:15px;
	margin-right:15px;
}
#help1{
display:none;

	width:25px;
	height:25px;
	float:right;
margin-top:10px;
	cursor:pointer;
	
	

}

#process2aereo{
	float:left;
	padding-bottom:50px;
}
#process2rodoviario{
	float:left;
	padding-bottom:50px;
}
#process3rodoviario{
	float:left;
	padding-bottom:50px;
}
#process4rodoviario{
	float:left;
	padding-bottom:50px;
}
#process5rodoviario{
	float:left;
	padding-bottom:50px;
}
#process6rodoviario{
	float:left;
	padding-bottom:50px;
}
#process2maritmo{
	float:left;
	padding-bottom:50px;
}
#process3maritmo{
	float:left;
	padding-bottom:50px;
}
#process4maritmo{
	float:left;
	padding-bottom:50px;
}#process5maritmo{
	float:left;
	padding-bottom:50px;
}#process6maritmo{
	float:left;
	padding-bottom:50px;
}
#process3aereo{
	float:left;
	padding-bottom:50px;
}
#larg{

	width:100%;
	float:left;
		margin-right:15px;
	margin-bottom:15px;
}
#alt{

	width:100%;
	float:left;
	margin-bottom:15px;
}

#alinharcheck{
margin-bottom:20px;
	width:10px;
	height:20px;
	margin:auto;
	
}
#alignnaoincluir{
padding-left:2px;
padding-right:10px;
	width:100%;
	float:right;
	margin-top:1px;	
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 300;
	color:black;

	
}
#carga02{
	text-align:center;
	width:100%;

	float:left;

	font-size:22px; 
	font-family: 'Open Sans', sans-serif;  
	font-weight:600;
	
	
}
#carga03{
	text-align:center;
	width:100%;

	float:left;

	font-size:14px; 
	font-family: 'Open Sans', sans-serif;  
	font-weight:300;
	font-style:italic;
	padding-top:10px;
	
	
	
}
	#selcarga2{
	width:48%;
	float:right;

	border-radius: 6px;
	border:1px solid #cfcfcf;
	padding:20px;
}
.boxdestino{
margin-bottom:30px;
padding:15px;
	background-color:WHITE;
	width:100%;

	float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		
}
	#what1{
		display:none
		
	}
	.what0{
		display:none
		
	}	
	
	#what01{
		display:none
		
	}
	#what02{
		display:none
		
	}
	
	
	#message1{
		display:none
		
	}#message02{
		display:none
		
	}
	#seluf{

	width:100%;
	float:left;
	padding-bottom:20px;

}	

#message{
	line-height: 1.4;
	padding:15px;
	font-weight: 300;
	font-size:16px; 
	font-family: 'Open Sans', sans-serif; 
}

#naosabecheck{

	width:100%;
	float:left;

}
#boxpeso{
	width:100%;
	padding:15px;
	float:left;
	border-radius: 6px;
	border:1px solid #cfcfcf;
	margin-top:20px;
	margin-bottom:20px;

}
#btnavio{
		width:100%;
	height:54px;
	
}
#btrodoviario{
		width:100%;
	height:54px;
	
}

#moeda{

	width:100%;
	float:left;
	margin-bottom:20px;
	

	}
.continue0{
	width:100%;
	height:50px;
	background-color:#1a1f3e;
	float:right;
	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2;
	font-weight: 400;
	color:white;
	padding-top:0px;
		border:1px solid #1a1f3e;
	cursor:pointer;


}
.resumo{

	background-color:WHITE;
	width:100%;

	float:left;


}
#checkconcordar1{

display:none;
	
}
#checkconcordar{

	width:420px;
	height:50px;
	float:left;
	
}

#alignconcordar{

	width:100%;

	margin-top:30px;	
	font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 0;
	font-weight: 300;
	color:#666;
	
}


.titleinformacoesgerais{

	text-align:left;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;

	margin-bottom:20px;

}
.titleitens{

	text-align:left;
	font-size:18px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.0;
	font-weight: 600;
	padding-top:20px;

	
}
.formulariobox{
	padding-top:8px;
	padding-left:3px;	
	padding-right:3px;

	width:100%;
padding-bottom:30px;
	float:left;


}
.informacoesgerais{
		padding-top:8px;
	padding-left:3px;	
	padding-right:3px;
padding-bottom:40px;
	background-color:WHITE;
	width:100%;
font-size:10px;
	float:left;

		
}

#textinformacoesgerais{

COLOR:black;
	float:left;	
	display:inline;

	font-size:14px;
		line-height: 1.6;
}


.form-controlproduto{display:block;width:100%;height:34px; margin-bottom:20px;;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;

}
.form-controlproduto::-webkit-input-placeholder { 
color:#cfcfcf; font-size:16px;
}

#boxncm{
	width:100%;

padding:15px;
	float:left;
			border-radius: 6px;
		border:1px solid #cfcfcf;

}


.botaocontratar{
	width:100%;
	height:50px;
	background-color:#1a1f3e;
margin-right:3px;
	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 300;
	color:white;
	padding-top:2px;
	font-size:18px;
		border:1px solid #1a1f3e;


}
.botaoadd{
	width:228px;
	height:50px;
	background-color:white;

	border-radius: 6px;
		font-size:20px; 
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 600;
	color:#1a1f3e;
	padding-top:2px;
	font-size:18px;
		border-radius: 6px;
		border:1px solid #1a1f3e;

}
#option1{
	 font-size:16px;
	
}
#sel02{
	 font-size:16px;
	
}
#sel03{
	 font-size:16px;
	
}
select{
height:40px;
	width:100%;
	background: #fff url("../img/select.png") no-repeat 96% 50%;
	font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	-webkit-appearance: none;
	font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
	border-radius: 3px;

    padding-left: 10px;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
	-webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
}
#quantidade{

	width:100%;
	float:left;
	margin-top:20px;
	
}
#moeda select{
	width:100%;
	margin-bottom:20px;
			    background: #fff url("../img/select.png") no-repeat 95% 50%;
		font-size:16px; 
	font-family: 'Open Sans', sans-serif;  
-webkit-appearance: none;
	font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
	    border-radius: 3px;
    padding: 10px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
	   -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
}
.botaosaibamais{
	width:100%;
	height:50px;
	background-color:white;
margin-top:20px;
	border-radius: 6px;
		font-size:20px; 
	font-family: 'Open Sans', sans-serif;  
	line-height: 2.2;
	font-weight: 400;
	color:#1a1f3e;
	padding-top:2px;
	font-size:18px;
		border-radius: 6px;
		border:1px solid #1a1f3e;
}

.divid8{
	background-color:#cfcfcf;
	width:100%;
	height:1px;
	float:left;
	

	
}

.op1{
	margin-bottom:10px;float:left;
	
}
.op1 input{
	margin-top:7px;
width:17px;
height:17px;
	background-color:red;
	float:left;
}
	#subtext{

COLOR:cfcfcf;
	float:left;	
	display:inline;
	margin-top:8px;
	font-size:14px;
}
.op1 label{


	float:left;
	margin-right:8px; 
	margin-left:20px;
	
	
}


.divid9{display:none}

.checkbox4{

	padding-left:15px;	
	padding-right:15px;
	background-color:WHITE;
	width:100%;
padding-bottom:20px;
	float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;

}

.checkbox5{
	padding-left:15px;	
	padding-right:15px;
	background-color:WHITE;
	width:100%;
padding-bottom:20px;
	float:left;
		border-radius: 6px;
		border:1px solid #cfcfcf;
		margin-top:20px;

		
}

.form-control{display:block;width:100%;height:34px; margin-top:8px;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;margin:auto;

}
.form-control::-webkit-input-placeholder { 
color:#cfcfcf; font-size:16px;}
.form-control1{display:block;width:100%;height:34px; margin-top:15px;padding:20px 20px 20px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; -moz-placeholder:color:Red;margin:auto;

}
.form-control1::-webkit-input-placeholder { 
color:#cfcfcf; font-size:16px;}